<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>24</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EF6BA330CDAC1025E7B7AEB05225D87A09B4E8C1</string>
				<key>dateExpires</key>
				<string>5/4/27</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF6BA330CDAC1025E7B7AEB05225D87A09B4E8C1</string>
						<key>dateExpires</key>
						<string>5/4/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U5JG38RBYM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF6BA330CDAC1025E7B7AEB05225D87A09B4E8C1</string>
						<key>dateExpires</key>
						<string>5/4/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U5JG38RBYM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>U5JG38RBYM.gh.edu.phoenixintlschool</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>U5JG38RBYM</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>133737e9-d0e4-4855-876e-dab2c409cead</string>
				<key>dateExpires</key>
				<string>5/4/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: gh.edu.phoenixintlschool</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>U5JG38RBYM</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>2.4.0</string>
		</dict>
	</array>
</dict>
</plist>
